<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social App</title>
  </head>

  <body>
    <div id="root"></div>
    <script>
      window.authenticated = "<%= authenticated %>";

      window.appData = {
        logOutImage: "<%= logOutImage %>",
      };

      window.userData = {
        username: "<%= username %>",
        userId: `<%= userId %>`,
        notifications: `<%= friendRequests?.length %>`,
        friendRequests: `<% friendRequests %>`,
        userFriends: `<% userFriends %>`,
      };

      console.log(1111);
    </script>
    <script src="./static/bundle.js"></script>
    <!-- <div style="display: none" id="authenticated-content">
      <div id="header">
        <div class="logo_search_view">
          <div id="socioSpace">SOCIOSPACE</div>
          <input type="search" id="headerSearch" />
        </div>

        <div class="navBar">
          <a href="#">Home</a>
          <a href="#">Story</a>

          <div id="notificationWrapper">
            <button id="notificationBtn">Notifications</button>

            <div
              style="display: <%= friendRequests?.length > 0 ? 'inline' : 'none' %>;"
              id="notification_number"
            >
              <%= friendRequests?.length %>
            </div>
          </div>
        </div>

        <div id="userProfile">
          <div id="userName"><%= username %></div>
          <img id="logOutIcon" src="<%= logOutImage %>" alt="logout" />
        </div>
      </div>

      <div class="main" id="main">
        <div class="usersWrapper">
          <h3>Users</h3>

          <ul class="users-list-container">
            <% registeredUsersList.forEach(function(item) { %>
            <li class="registered-user-card">
              <p><%= item.username %></p>

              <button
                onclick="sendFriendRequest(`<%= item.id %>`)"
                class="add-friend-button"
              >
                Add Friend
              </button>
            </li>
            <% }); %>
          </ul>
        </div>

        <div class="friendsWrapper">
          <h3>Friends</h3>

          <div class="friends-container">
            <% userFriends.forEach(function(item) { %>
            <li class="friendsCard">
              <p><%= item.userName %></p>
            </li>
            <% }); %>
          </div>
        </div>
      </div>

      <div id="notificationsModalContainer">
        <div id="notificationModalContent">
          <div id="notific_ModalContent_Header">
            <h4>Friend Requests</h4>
            <span class="close">&times;</span>
          </div>

          <div>
            <% friendRequests.forEach(function(item) { %>
            <li class="friendRequestCard">
              <p><%= item.userName %></p>

              <button
                id="confirmBtn"
                onclick="confirmFriendRequest(`<%= item.userId %>`, `<%= item.userName %>`)"
              >
                confirm
              </button>
            </li>
            <% }); %>
          </div>
        </div>
      </div>
    </div>

    <div style="display: none" id="unauthenticated-content">
      <div id="login-form"></div>

      <div class="sign-up-form" id="sign-up-form" style="display: none"></div>
    </div> -->

    <!-- <script>
      window.userData = {
        authenticated: "<%= authenticated %>",
        username: "<%= username %>",
        userId: `<%= userId %>`,
      };

      function sendFriendRequest(friendId) {
        fetch("http://localhost:3000/api/user/send-friend-request", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            userName: window.userData.username,
            userId: window.userData.userId,
            friendId,
          }),
        }).then((response) => {
          if (response.status === 200) {
            alert("Friend request sent successfully");
          } else {
            alert("Failed to send friend request");
          }
        });
      }

      function confirmFriendRequest(friendId, friendName) {
        fetch("http://localhost:3000/api/user/confirm-friend-request", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            userName: window.userData.username,
            userId: window.userData.userId,
            friendId,
            friendName,
          }),
        }).then((response) => {
          if (response.status === 200) {
            alert("Friend request confirmed successfully");
          } else {
            alert("Failed to confirm friend request");
          }
        });
      }
    </script>

    <script type="module" src="./js/bundle.js" defer></script> -->
  </body>
</html>
