<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social App</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
  </head>

  <body>
    <div id="root" class="root"></div>

    <script>
      window.authenticated = "<%= authenticated %>";

      window.appData = {
        logOutImage: "<%= logOutImage %>",
        messageicon: "<%= messageIcon %>"
      };

      window.userData = {
        userName: "<%= userName %>",
        userId: `<%= userId %>`,
        notifications: `<%= JSON.stringify(notifications) %>`,
        userFriends: `<%= JSON.stringify(userFriends) %>`,
        registeredUsersList: `<%= JSON.stringify(registeredUsersList) %>`,
        sentFriendRequests: `<%= JSON.stringify(sentFriendRequests) %>`,
      };
    </script>

    <script src="./static/bundle.js"></script>
  </body>
</html>
