<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social App</title>
  </head>

  <body>
    <div
      id="root"
      style="
        display: flex;
        background-color: #f4f4f4;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        height: 100vh;
        margin: 0;
        padding: 0;
      "
    ></div>
    <script>
      window.authenticated = "<%= authenticated %>";

      window.appData = {
        logOutImage: "<%= logOutImage %>",
      };

      window.userData = {
        username: "<%= username %>",
        userId: `<%= userId %>`,
        notifications: `<%= friendRequests?.length %>`,
        friendRequests: `<% friendRequests %>`,
        userFriends: `<% userFriends %>`,
        registeredUsersList: `<% registeredUsersList %>`,
      };
    </script>
    <script src="./static/bundle.js"></script>

    <!-- <script>
      function sendFriendRequest(friendId) {
        fetch("http://localhost:3000/api/user/send-friend-request", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            userName: window.userData.username,
            userId: window.userData.userId,
            friendId,
          }),
        }).then((response) => {
          if (response.status === 200) {
            alert("Friend request sent successfully");
          } else {
            alert("Failed to send friend request");
          }
        });
      }

      function confirmFriendRequest(friendId, friendName) {
        fetch("http://localhost:3000/api/user/confirm-friend-request", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            userName: window.userData.username,
            userId: window.userData.userId,
            friendId,
            friendName,
          }),
        }).then((response) => {
          if (response.status === 200) {
            alert("Friend request confirmed successfully");
          } else {
            alert("Failed to confirm friend request");
          }
        });
      }
    </script> -->
  </body>
</html>
