<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social App</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <div style="display: none" id="authenticated-content">
        <div id="header">
          <div class="logo_search_view">
            <div id="socioSpace">SOCIOSPACE</div>
            <input type="search" id="headerSearch" />
          </div>

          <div class="navBar">
            <a href="#">Home</a>
            <a href="#">Story</a>
            <a href="#">
              <span style="display: none" id="notification_number">1</span>
              Notifications</a
            >
          </div>

          <div id="userProfile">
            <div id="userName"><%= username %></div>
            <img id="logOutIcon" src="<%= logOutImage %>" alt="logout" />
          </div>
        </div>

        <div class="main" id="main">
          <h3>users</h3>

          <ul class="users-list">
            <% usersList.forEach(function(item) { %>
            <li class="registered-user">
              <p><%= item %></p>
              <button
                onclick="sendFriendRequest(`<%= item %>`)"
                class="add-friend-button"
              >
                Add Friend
              </button>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>

      <div style="display: none" id="unauthenticated-content">
        <div id="login-form"></div>

        <div class="sign-up-form" id="sign-up-form" style="display: none"></div>
      </div>
    </div>

    <script>
      window.userData = {
        authenticated: "<%= authenticated %>",
        username: "<%= username %>",
        userFriends: `<%= userFriends  %>`,
      };

      if (window.userData.userFriends !== "") {
        console.log(window.userData.userFriends);
        document.getElementById("notification_number").style.display = "block";
      }

      // console.log(window.userData.userFriends);

      function sendFriendRequest(friendName) {
        fetch("/api/user/send-friend-request", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            userName: window.userData.username,
            friendName,
          }),
        }).then((response) => {
          if (response.status === 200) {
            alert("Friend request sent successfully");
          } else {
            alert("Failed to send friend request");
          }
        });
      }
    </script>

    <script type="module" src="./js/bundle.js"></script>
  </body>
</html>
